<!DOCTYPE html>
<!-- saved from url=(0035) -->
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="style.css">
<link rel="shortcut icon" type="image/png" href="images/Overstat Logo.png">
<title>About Us</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@4.4.0/font/bootstrap-icons.css">
</head>
<body>
<header>
    <nav>
        <div class="left">
          <ul>
            <li><a class="logo" href="/">Over-Stat</a></li>
            <li><a href="/">Home</a></li>
            <li><a href="enter_data">Enter Data</a></li>
            <li><a href="your_data">Your Data</a></li>
            <li><a href="about">About</a></li>
          </ul>
        </div>
        <div class="login right">
          <ul>
            <% if (typeof currentUser !== 'undefined' && currentUser !== null) { %>
                <div class="dropdown">
                  <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                    <li><a class="username"><%= currentUser.username %></a></li>
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li><a class="dropdown-item" href="/signout">Sign out</a></li>
                  </ul>
                </div>
              <% } else { %>
                <a href="/login">Login</a>
                <% if(typeof currentUser !== 'undefined'){currentUser = null;}%>

              <% } %>
            
          </ul>
        </div>
      </nav>
</header>

<div class="banner">
    <h1>About Us</h1>
</div>
<div class="team-section">
    <div class="team">
    <p>
Over-Stats intends to be an application where the user will input Win/Loss data, player, role & timestamps of games played, then the application analyzes the data to determine optimal time to play certain roles.
    </p>
    </div>
    <div class="team">
    <img src="images/about_img.webp" alt="PLACEHOLDER">
</div>
</div>

<div class="Ourteam">
    <h1>Our Team</h1>
    <h2>Developers of Over-Stat</h2>
</div>
<div class = "Us-section">

    <div class = "team-left">
    <img src="images/Dom_headshot.webp" alt="Picture of DominicThoele">
    <h2>Dominic Thoele</h2>
    <h2>Front End Web Designer</h2>
    <p>
        About Dominic. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores veniam ducimus, accusamus aperiam, porro tempore, explicabo facere perferendis impedit fugiat ipsa! Aliquid quod repudiandae deserunt dicta? Neque accusantium in laborum possimus, delectus quaerat cum a maiores eveniet dolorum facilis temporibus ratione repellat ab iure est nihil? Magnam, fugit possimus exercitationem, nemo, eius delectus quidem eum ullam qui voluptatem tenetur nam rerum! Nam soluta dolores sint iure numquam officia. Alias, ullam aut quidem exercitationem atque non voluptatum quaerat. Amet laboriosam distinctio sed sunt reiciendis quam nemo voluptas saepe necessitatibus animi, quo ullam eum repudiandae ipsum voluptatibus debitis ratione! Recusandae, ducimus ab.
    </p>
    </div>

    <div class="team-right">
        <img src="images/Grant_Headshot.webp" alt="Picture of Grant McPherson">
        <h2>Grant McPherson</h2>
        <h3>Back End Data Broker</h3>
        <p>
        About Grant. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores veniam ducimus, accusamus aperiam, porro tempore, explicabo facere perferendis impedit fugiat ipsa! Aliquid quod repudiandae deserunt dicta? Neque accusantium in laborum possimus, delectus quaerat cum a maiores eveniet dolorum facilis temporibus ratione repellat ab iure est nihil? Magnam, fugit possimus exercitationem, nemo, eius delectus quidem eum ullam qui voluptatem tenetur nam rerum! Nam soluta dolores sint iure numquam officia. Alias, ullam aut quidem exercitationem atque non voluptatum quaerat. Amet laboriosam distinctio sed sunt reiciendis quam nemo voluptas saepe necessitatibus animi, quo ullam eum repudiandae ipsum voluptatibus debitis ratione! Recusandae, ducimus ab.
        </p>
        </div>



</div>


<footer>
<div class="left">
<ul>
<li><a class="logo" href="/">Over-Stat</a></li>
<li><a href="enter_data">Enter Data</a></li>
<li><a href="your_data">Your Data</a></li>
<li><a href="about">About</a></li>
</ul>
</div>
<div class="right">
<ul>
<li">Copywrite
</li"></ul>
</div>
</footer>


</body><grammarly-desktop-integration data-grammarly-shadow-root="true"></grammarly-desktop-integration></html>