<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <link rel="shortcut icon" type="image/png" href="images/Overstat Logo.png">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Enter Data</title>
    <style>
        header{
          height: auto;
        }

        footer{
          height: auto;
        }
    </style>
  </head>

  <body>
    <header>
      <nav>
        <div class="left">
          <ul>
            <li><a class="logo" href="/">Over-Stat</a></li>
            <li><a href="/">Home</a></li>
            <li><a href="enter_data">Enter Data</a></li>
            <li><a href="your_data">Your Data</a></li>
            <li><a href="about">About</a></li>
          </ul>
        </div>
        <div class="login right">
          <ul>
            <% if (typeof currentUser !== 'undefined' && currentUser !== null) { %>
              <div class="dropdown">
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                  <li><a class="username"><%= currentUser.username %></a></li>
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <li><a class="dropdown-item" href="/signout">Sign out</a></li>
                </ul>
              </div>
            <% } else { %>
              <a href="/login">Login</a>
              <% if(typeof currentUser !== 'undefined'){currentUser = null;}%>
            <% } %>
            
          </ul>
        </div>
      </nav>
    </header>

  

    <!-- This is where Data form will go-->
    <div class="data-form">
      <form action="post" onsubmit="return processForm()">
        <div class="center">
          <label>
            Number of Matches:
            <input type="number" id="match-quantity" name="match-quantity" min="1" max="20" oninput="addMatchForms()">
          </label>
        </div>
        <div id="match-forms-container">
          <!-- generate match forms dynamically -->
          <script>
            
            
            function addMatchForms() {
              var container = document.getElementById("match-forms-container");
              var numMatches = document.getElementById("match-quantity").value;
              const submitBtn = document.querySelector('#submit-btn');

              // Hides Submit Button if Matches is 0
              if (numMatches == 0) {
                submitBtn.style.display = "none";
              } else {
                submitBtn.style.display = "inline";
              }
              var html = "";
              for (var i = 1; i <= numMatches; i++) {
                html += '<div class="match">';
                html += '<div><h2>Match ' + i + ':</h2></div>';
                html += '<label>Select Role:</label>';
                html += '<label>Tank<input type="radio" name="role-' + i + '" value="T"></label>';
                html += '<label>Damage<input type="radio" name="role-' + i + '" value="D"></label>';
                html += '<label>Support<input type="radio" name="role-' + i + '" value="S"></label>';
                html += '<label for="time-input-' + i + '">Enter the time in military format:</label>';
                html += '<input type="time" id="time-input-' + i + '" name="time-' + i + '">';
                html += '<label>Win or Loss:</label>';
                html += '<label>Win<input type="radio" name="win-loss-' + i + '" value="W"></label>';
                html += '<label>Loss<input type="radio" name="win-loss-' + i + '" value="L"></label>';
                html += '</div>';
              }
              container.innerHTML = html;
            }
          </script>
        </div>
        <input type="submit" id="submit-btn" value="Submit" style="display: none;">
      </form>
    </div>
    
    <script>
      function processForm() {
  var numMatches = document.getElementById("match-quantity").value;
  var formData = {};
  
  for (var i = 1; i <= numMatches; i++) {
    var role = document.querySelector('input[name="role-' + i + '"]:checked').value;
    var time = document.getElementById("time-input-" + i).value;
    var winLoss = document.querySelector('input[name="win-loss-' + i + '"]:checked').value;
    
    console.log("Match " + i + ": role=" + role + ", time=" + time + ", winLoss=" + winLoss);
    
    formData["match-" + i] = {
      "role": role,
      "time": time,
      "winLoss": winLoss
    };
  }
  
  $.ajax({
    type: "POST",
    url: "/upload_data",
    data: {formData: formData},
    success: function(data) {
      console.log("Form data inserted successfully!");
      console.log(data);
    },
    error: function(jqXHR, textStatus, errorThrown) {
      console.log("Error inserting form data: " + errorThrown);
    }
  });
}


    </script>


  
    <footer>
      <div class="left">
        <ul>
          <li><a class="logo" href="/">Over-Stat</a></li>
          <li><a href="enter_data">Enter Data</a></li>
          <li><a href="your_data">Your Data</a></li>
          <li><a href="about">About</a></li>
          </ul>
    </div>
    <div class="right">
      <ul>
        <li">Copywrite</li>
      </ul>
    </div>
    </footer>
    
  </body>
</html>
