<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <link rel="shortcut icon" type="image/png" href="images/Overstat Logo.png">
    <title>Test</title>
  </head>

  <body>
    <header>
      <nav>
        <div class="left">
          <ul>
            <li><a class="logo" href="/">Over-Stat</a></li>
            <li><a href="/">Home</a></li>
            <li><a href="enter_data">Enter Data</a></li>
            <li><a href="your_data">Your Data</a></li>
            <li><a href="about">About</a></li>
          </ul>
        </div>
        <div class="login right">
          <ul>
            <li><a href="#services">Login</a></li>
          </ul>
        </div>
      </nav>
    </header>

    <div class="background">
      <img src="images/OW_Heroes.png" alt="Lineup of OW Heroes" />
    </div>

    <div class="index-section">
      <h1>Global Data</h1>
      <h2>Optimal Play Times:</h2>
      <div class="show-data">
        <div>
          <img src="icons/tank.png" alt="Tank logo" />
          <h3><%= tankWinRate %></h3>
        </div>
        <div>
          <img src="icons/OffenseIcon.webp" alt="Damage logo" />
          <h3><%= damageWinRate %></h3>
        </div>
        <div>
          <img src="icons/SupportIcon.webp" alt="Support logo" />
          <h3><%= supportWinRate %></h3>
        </div>
      </div>
    </div>

    <footer>
      <div class="left">
        <ul>
          <li><a class="logo" href="/">Over-Stat</a></li>
          <li><a href="enter_data">Enter Data</a></li>
          <li><a href="your_data">Your Data</a></li>
          <li><a href="about">About</a></li>
          </ul>
    </div>
    <div class="right">
      <ul>
        <li">Copywrite</li>
      </ul>
    </div>
    </footer>
  </body>
</html>
