<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="style.css" />
        <link rel="shortcut icon" type="image/png" href="images/Overstat Logo.png">
        <title>login</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {font-family: Arial, Helvetica, sans-serif;}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}


button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color:  #f06414;
  border-radius: 0.7vh;
  color: #f1f1f1;
  border: none;
  font-size: 30px;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 20%;
  border-radius: 50%;

}

.container {
  padding: 16px;
}

.container2 button{
  font-size: 20px;
}
.container label{
  font-size: 34px;
  font-style: italic;
}

.container input{
  font-size: large;
}

span.psw {
  padding-top: 24px;
}

/* The Modal (background) */
.modal {
  /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

.modal button{
  font-size: 20px;
  padding-right: 10px;
}
/* Modal Content/Box */
.modal-content {
    border-radius: 1.6vh;
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  height: 80%;
}

.forgot{
  padding-top: 2vh;
  padding-bottom: 4vh;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
</style>
      </head>

      <body>
        <header>
          <nav>
            <div class="left">
              <ul>
                <li><a class="logo" href="/">Over-Stat</a></li>
                <li><a href="/">Home</a></li>
                <li><a href="enter_data">Enter Data</a></li>
                <li><a href="your_data">Your Data</a></li>
                <li><a href="about">About</a></li>
              </ul>
            </div>
            <div class="login right">
              <ul>
                <li><a href="login">Login</a></li>
              </ul>
            </div>
          </nav>
        </header>


<div class="login">
        
        <div id="id01" class="modal">
          
          <form class="modal-content animate" action="/action_page.php" method="post">
            <div class="imgcontainer">
              <img src="images/Overstat Logo.png" alt="Avatar" class="avatar">
            </div>
        
            <div class="container">
              <label for="uname"><b>Username</b></label>
              <input type="text" placeholder="Enter Username" name="uname" required>
        
              <label for="psw"><b>Password</b></label>
              <input type="password" placeholder="Enter Password" name="psw" required>
                
              <button type="submit">Login</button>
              <label>
                <input type="checkbox" checked="checked" name="remember"> Remember me
              </label>
            </div>
        <div class="forgot">
            <span class="psw">Forgot <a href="#">password?</a></span>
        </div>
            <div class="container2">
              <button type="button"" class="cancelbtn">Sign up</button>
            </div>
          </form>
        </div>
    </div> 
      
</body>
</html>