<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="style.css" />
        <link rel="shortcut icon" type="image/png" href="images/Overstat Logo.png">
        <title>Sign Up</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
      </head>

      <body>
        <header>
          <nav>
            <div class="left">
              <ul>
                <li><a class="logo" href="/">Over-Stat</a></li>
                <li><a href="/">Home</a></li>
                <li><a href="enter_data">Enter Data</a></li>
                <li><a href="your_data">Your Data</a></li>
                <li><a href="about">About</a></li>
              </ul>
            </div>
            <div class="login right">
              <ul>
                <li><a href="login">Login</a></li>
              </ul>
            </div>
          </nav>
        </header>

          
          <h1>Hello, world!</h1>
</body>
</html>