body {
  margin: 0;
  margin-bottom: 10vh;
  clear: both;
}

/* NAV CSS*/
header {
  top: 1vh;
  padding: 0 0.2vh;
  position: sticky;
  height: 0;
  margin: 0vh 0.5vh;
  z-index: 99;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(224, 224, 224, 0.97);
  border-radius: 1vh;
  height: 5.5vh;
  margin: 0vh;
}

header nav ul {
  display: flex;
  list-style: none;
  justify-content: flex-start;
  align-items: center;
  padding: 0 1vh;
  height: 100%;
  margin: 0;
}

header nav ul li {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  padding-right: 2vh;
  font-size: large;
  text-align: center;
  vertical-align: middle;
}

.logo {
}

.logo img {
  height: 5vh;
  vertical-align: middle;
}

div.login {
  display: flex;
  background-color: #f06414;
  border-radius: 0.7vh;
  text-align: center;
  justify-content: flex-start;
  align-items: center;
  height: 80%;
  margin-right: 0.5vh;
}

.login li {
  padding: 0;
}

div.login a {
  color: white;
  text-decoration: none;
}

/* NAV CSS END---------------*/

/*-------------Footer CSS-------------*/

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: auto;
  align-items: center;
  display: flex;
  justify-content: space-between;
  background-color: rgba(224, 224, 224, 0.97);
  margin-top: 10vh;
}

footer ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  text-decoration: none;
  padding: 0 2vw 0 2vw;
}

footer ul li {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  padding-right: 2vh;
  font-size: large;
}

/*-------------Footer CSS END-------------*/

.background {
  overflow: hidden;
  width: 100%;
  height: 10%;
  box-sizing: border-box;
}

.background img {
  margin: 0;
  width: 100%;
}

/* Data Block CSS */
.show-data {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.show-data div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
}

.show-data h3 {
  width: fit-content;
}

.show-data img {
  width: 15vw;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* Slideshow */
.slideshow-container {
  width: 100%;
  height: 1080px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0vh 0;
  padding: 0vh 0;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.mySlides {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 0;
  padding: 0;
  height: 90%;
}

.slide-background {
  width: 100%;
  z-index: 2;
  height: auto;
}

.slide-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  width: auto;
  color: white;
  font-weight: bold;
  font-size: 7vh;
  transition: 0.6s ease;
  user-select: none;
  margin: 0;
  padding: 10% 1vh 10% 1vh;
  z-index: 99;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 0;
  border-radius: 0 3px 3px 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
}

/* Describes how Information will be shown */
.slide-info {
  padding-top: 20vh;
  position: absolute;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  z-index: 3;
}

.slide-info h3 {
  text-align: center;
  color: white;
  font-size: 32px;
  font-style: italic;
  text-decoration: underline;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}

/*----------Slideshow End----------*/

/*-----------Defaults--------------*/
* {
  font-style: italic;
  font-family: "bignoodle", sans-serif;
  color: black;
}
@font-face {
  font-family: "bignoodle";
  src: url(FontPacks/big_noodle_titling.ttf);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*-----------Defaults END--------------*/

/*-----------homepage--------------*/

.index-section h1 {
  font-style: italic;
  font-size: 50px;
  text-align: center;
  margin-bottom: 0%;
}

.index-section h2 {
  font-style: italic;
  font-size: 28px;
  text-align: center;
  text-decoration-line: underline;
  margin-top: 0%;
  margin-bottom: 0%;
  padding-bottom: 4%;
}

.index-section h3 {
  font-style: italic;
  font-style: oblique;
  font-size: 30px;
}

.index-section img {
  text-align: center;
}

/*-----------homepage END--------------*/

/*-----------About--------------*/

.banner {
  display: flex;
  flex-direction: column;
}

.banner h1 {
  text-align: center;
  font-style: italic;
  font-size: 60px;
  padding-bottom: 5vh;
  padding-top: 6vh;
}
.Ourteam h1 {
  font-style: italic;
  text-align: center;
  font-size: 60px;
  padding-bottom: 0vh;
  padding-top: 12vh;
  margin: 0%;
}
.banner h2 {
  font-style: italic;
  text-align: center;
}

.Ourteam h2 {
  font-style: italic;
  text-align: center;
  font-size: 48px;
  padding-bottom: 6vh;
  margin-top: 0%;
}
.team-section {
  font-style: italic;
  font-size: 45px;
  display: flex;
  text-align: center;
  letter-spacing: 1px;
}
.team-section p {
  padding-left: 8%;
}
.team-section img {
  width: 20vw;
}
.Us-section {
  font-style: italic;
  font-size: 26px;
  display: flex;
  text-align: center;
  padding-left: 10px;
  letter-spacing: 0px;
}
.Us-section p {
  margin: 4vh;
  font-size: 22px;
}

.team {
  width: 40%;
}

.left {
  float: left;
  height: 100%;
}

.right {
  float: right;
}

/*---------About End--------------*/

/*---------Enter Data--------------*/
.data-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background-color: rgba(224, 224, 224, 0.97);
  padding: 3vh;
  width: auto;
  border-radius: 0.7vh;
  height: auto;
  max-height: 90%;
  overflow: auto;
}

.form1 {
  display: contents;
}

.center label {
  font-style: italic;
  font-size: 32px;
}

.match {
  padding-bottom: 2vh;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

.match h2 {
  font-style: italic;
  font-size: 24px;
  padding: 0%;
}
.match div {
  padding: 1vh;
}
.match label {
  font-style: italic;
  font-size: 22px;
  padding-bottom: 3px;
}

#submit-btn {
  width: auto;
  padding: 10px 10px;
  background-color: #f06414;
  border-radius: 0.7vh;
  color: #f1f1f1;
  border: none;
  font-size: 20px;
  text-align: center;
}
/*---------Enter Data END--------------*/

/*---------Login CSS--------------------*/
.dropdown-menu {
  display: none;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.username {
  font-size: 1.5em;
}
/*---------Login CSS END--------------------*/
