files:
  "/opt/elasticbeanstalk/hooks/appdeploy/enact/00_configure_nginx_proxy.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      cp /etc/nginx/conf.d/elasticbeanstalk-nginx-docker-proxy.conf /etc/nginx/conf.d/elasticbeanstalk-nginx-docker-proxy.conf.bak
      sed -i 's/# gzip_/gzip_/g' /etc/nginx/nginx.conf
      sed -i 's/proxy_pass_request_headers on;/proxy_pass_request_headers on;\n    proxy_set_header Host $host;\n    proxy_set_header X-Real-IP $remote_addr;\n/g' /etc/nginx/conf.d/elasticbeanstalk-nginx-docker-proxy.conf
      service nginx reload